@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: "Fjalla One";
}

.box-task {
  background: #f8f4e5;
  padding: 20px 30px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
  
}
.contain-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:  center;
}

.contain-title #collapse{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #ffa580;
  border: solid .5px #000;

}
.contain-title #collapse:hover{
  color: #fff;
  background: #000;
}


.box-task h3 {
  font-size: 18pt;
  margin: 10px 10px 10px 0px ;
}

.form input {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 20pt;
  font-family: "Fjalla One";
  margin-bottom: 10px;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
}

.form input:focus {
  border-bottom: 5px solid #ffa580;
}

.form button {
  display: block;
  margin: 0;
  line-height: 22pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}

.form button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}
.btn-contain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.form ::selection {
  background: #ffc8ff;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.gp-search-task{
  display: none;
}
.gp-list-task {
  --background:#f8f4e5;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 50%;
  --height: 140px;
  --border-radius: 10px;
  align-items: center;
  margin-top: 30px;
}

.gp-list-task .ipt-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-right: 20px;
}
.gp-list-task .ipt-wrapper .remove {
  position: absolute;
  right: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-image: url('../img/times-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}
.gp-list-task .ipt-wrapper:hover .remove {
  visibility: visible;
}
.gp-list-task label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
.gp-list-task label::before, .gp-list-task label::after {
  content: "";
  position: absolute;
}
.gp-list-task label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
.gp-list-task label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.gp-list-task input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  align-items: center;
}
.gp-list-task input[type="checkbox"]::before, .gp-list-task input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
.gp-list-task input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
.gp-list-task input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
.gp-list-task input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
.gp-list-task input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
.gp-list-task input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
.gp-list-task input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
.gp-list-task input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
 }
  100% {
    padding-right: 4px;
 }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
 }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
 }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
 }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
 }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
 }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
 }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
 }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
 }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
 }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
 }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
 }
  30% {
    opacity: 1;
 }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
 }
}